.fm-google-map {
  position: relative;
}

.fm-google-map .fm-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 200px;
  height: 200px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: fm-spinner .8s ease infinite;
}

@keyframes fm-spinner {
  to {transform: rotate(360deg);}
}